* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.playground {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.board {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background: #ddd;
  border-radius: 5px;
  transition: 0.25s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
}
.box:active {
  background: #000;
}
